body{
    font-family: 'Bebas Neue', cursive;
    background-image: linear-gradient(lightgreen,lightblue,pink, aqua);
}
.headerdiv{
    background-color: bisque;
    color: maroon;
    letter-spacing: 10px;
}
.headerdiv img{
    widows: 100px;
    height:100px;
    border: 2px maroon solid;
    border-radius: 50%;
}
#maindiv{
    border: 5px maroon ridge;
    margin-top: 20px;
    padding: 10px;
}
#maindiv label{
    background-color: olivedrab;
    width: 300px;
    padding:10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px pink;
}
#camera, #webcamsnap{
    width:300px;
    height:300px;
    box-shadow: 10px 10px 18px maroon;
    border: 4px pink solid;
}
#button{
    border: 2px maroon solid;
    color: maroon;
}
.outputdiv{
    margin-bottom: 50px;
    margin-top: 50px;
}
.outputdiv h4{
    text-align: left;
    background-color: rgb(253, 186, 248);
    border: 2px magenta solid;
    box-shadow: 10px 10px 18px maroon;
    padding: 10px;
}
.outputdiv img{
    width: 100px;
    height: 100px;
    border: 2px black solid;
    border-radius: 30px;
}
.copyright{
    position: fixed;
    background-color: lightslategrey;
    color: orange;
    font-size: 20px;
    bottom: 0;
    width: 100%;
}
